/*全局样式表*/
@media only screen and (min-width: 1024px) {
    html, body, #app {
      height: 100%;
      margin: 0;
      padding: 0;
      /*min-width: 1366px;*/
      font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    }
    #app {
      background: url("https://ae01.alicdn.com/kf/Hfef1f26aabbb450eb6b667812dda49eaP.jpg") no-repeat center top;
      background-size: 100% 100%;
    }
    .el-breadcrumb {
        margin-bottom: 15px;
        font-size: 12px;
    }
    .el-card {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    }
    .el-table {
        margin-top: 15px;
        font-size: 12px;
    }
    .el-pagination {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1024px) {
#app {
  background: url("https://ae01.alicdn.com/kf/H7506e5657ed943588009a90539674454w.jpg") no-repeat center top;
  background-size: 100% 100%;
}
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
}

